# Node / Next.js
node_modules/
.next/
out/
dist/
build/
coverage/

# caches
.turbo/
.vercel/

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS / editors
.DS_Store
*.pem
*.tsbuildinfo

# Python
__pycache__/
*.pyc
